.image-container {
  position: relative;
}

.image-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.image-container img{
  width: 240px;
  height: 180px;
  object-fit: cover;
}

.events-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 64px;

}

.event-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 320px;
  background: white;
  margin: 16px;
  border: 4px solid white;
}

.event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1; /*for get full height from parent*/
  align-items: center;

}

.event-date {
  position: absolute;
  right: 4px;
  bottom: -8px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  border-radius: 2px;
  padding: 4px 8px 4px 8px;
  align-items: center;

  border: 1px solid white;
  background: var(--tertiary-bg-color);
  color: white;
  font-size: var(--description-font-size);
}

.event-date-container{
  display: flex;
}

/*.event-date{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 12px;
  right: 16px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  z-index: 2;
  align-items: center;
} */


.event-date-date{
  font-weight: 800;
  font-size: 14px;
}

.event-month{
  position: relative;
  top: -4px;
  font-weight: 200;
  font-size: 12px;
}

.event-year{
  font-weight: 200;
  font-size: 14px;
}

.events-link{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  color: #ffbac7;
  border: 2px none #f0ad5f;
  border-bottom-style: solid;
  cursor: pointer
}

.event-description{
  width: 220px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;/*for get full height from parent*/
}

.event-name{
  height: 18px;
  white-space: nowrap;
  color: var(--primary-text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
}

.event-summary{
  height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--primary-text-color);;
  font-weight: 400;
  font-size: var(--description-font-size);
}

.event-redirect{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4px;
}

.event-location{
  color: var(--primary-text-color);
  font-weight: 400;
  position: relative;
  font-size: var(--description-font-size);
  display: flex;
  flex-direction: column;
}

.event-location a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.event-location-name{
  font-weight: 800;
  font-size: var(--description-font-size);
}




.event-url {
  align-self: flex-end;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--link-padding);
  background: var(--tertiary-bg-color);
}
.event-read-more{
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: var(--description-font-size);
}


.empty-div{
  flex:1
}

.event-zip{
  margin-top: 8px;
}

.location-icon {
  display: inline-block;
  padding-left: 30px;
  margin: 0px 8px 0px 0px;
  cursor: pointer;
}
.location-icon:after {
  content: '';
  background: var(--tertiary-bg-color);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 10px;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(-50deg);
}
.location-icon:before {
  content: '';
  background: white;
  width: 8px;
  position: absolute;
  height: 8px;
  left: 16px;
  border-radius: 50%;
  top: 33px;
  z-index: 1;
}

