

.slider {
  margin-left: 32px;
  margin-right: 32px;
  position: relative;
}

.active-slide {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

.active-slide-main-image{
  position: relative;
  width: 440px;
  margin-left: 8px;
  z-index: 3;
}

.active-slide-images-stack{
  position: relative;
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.active-slide-images-stack img{
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 20px 70px -10px rgba(10, 32, 70, 0.3);
  object-fit: cover;
  -webkit-transform: perspective(1000px);
  transform: perspective(1000px);
  -webkit-transition: -webkit-filter 300ms cubic-bezier(.215, .61, .355, 1);
  transition: -webkit-filter 300ms cubic-bezier(.215, .61, .355, 1);
  transition: filter 300ms cubic-bezier(.215, .61, .355, 1);
  transition: filter 300ms cubic-bezier(.215, .61, .355, 1), -webkit-filter 300ms cubic-bezier(.215, .61, .355, 1);
  -o-object-fit: cover;
}

.image-stack-item-1 img{
  width: 240px;
  height: 240px;
  position: relative;
  left: 24px;
}

.image-stack-item-2 img{
  width: 360px;
  height: 360px;
}

.image-stack-item-3 img{
  width: 200px;
  height: 200px;
  position: relative;
  right: 50px;
}


.image-stack-item-1{
  padding-top: 200px;
  grid-row: 1; /* must be on the same row as the other image*/
  z-index: 2; /* make this image render on top of the bottom*/
}

.image-stack-item-2{
  grid-row: 1; /* make this image be on the same row*/
  z-index: 1; /* make this image render on top of the bottom*/
}

.image-stack-item-3{
  padding-top: 260px;
  grid-row: 1; /* make this image be on the same row*/
}

.active-slide button{
  margin-top: 60px;
  border: 1px solid white;
  border-radius: 4px;
  padding: var(--element-padding);
  background: var(--tertiary-bg-color);
  color: white;
  font-size: var(--header-font-size);
}

.active-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
