html, body  {
  margin: 0;
  background: var(--primary-bg-color);
}

/* To create fixed header*/
.app {
}

.app-view-area {
}

.fixed-img{
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1; /* this is optional and should be different for every project */
}

.header {
  font-family: var(--header-font-family);
  padding: var(--element-padding);
  display: flex;
  min-height: 100px;
}

.header-sticky {
  background: var(--secondary-bg-color);
  position: sticky;
  top: 0;
}

.header h2{
  color: var(--primary-text-color);
  margin-left: 24px;
}


.logo{
  height: 150px;
  width: 150px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg-color);
  position: relative;
}

.logo img{
  width: 140px;
  height: 140px;
  position: absolute;
}

/* Navbar */
.nav-bar-container{
 flex:1
}

.nav-bar {
  justify-content: flex-end;
}

.nav-link {
  color: var(--primary-text-color-inactive);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  padding: var(--element-padding);
  margin: 0 0.45rem;
}

.nav-link-active{
  color: var(--primary-text-color);
  font-size: var(--header-font-size-active);
  font-weight: var(--header-font-weight-active);
  padding: var(--element-padding);
  margin: 0 0.75rem;
  border: 2px none #db6c55;
  border-bottom-style: solid;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover {
  color: var(--primary-text-color);
  border: 2px none #f3b58c;
  border-bottom-style: solid;
}


.tree-map {
  display: flex;
  justify-content: center;
}

/* Router Bread crumbs */
.route-breadcrumps {
  font-weight: 400 !important;
  font-size: 20px;
}

.route-breadcrumps-item {
  color:  #006298;
}

.route-breadcrump-active {
  color: #3f3f3f !important;
}