html, body  {
  margin: 0;
  background: var(--primary-bg-color-gradient);
}

/* To create fixed header*/
.app {
}

.app-view-area {
}

.fixed-img{
}


.header {
  background: var(--secondary-bg-color);
  font-family: var(--header-font-family);
  padding: var(--link-padding);
  display: flex;
  height: var(--header-height);
  align-items: center;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 4;
}

.header h2{
  color: var(--primary-text-color);
  margin-left: 24px;
}




.logo{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg-color);
  position: relative;
}

.logo img{
  width: 140px;
  height: 140px;
}

/* Navbar */
.nav-bar-container{
 flex:1
}

.nav-bar {
  justify-content: flex-end;
}

.nav-link {
  color: var(--primary-text-color-inactive);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  padding: var(--link-padding);
  margin: 0 .20rem;
}

.nav-link-active{
  color: var(--primary-text-color);
  font-size: var(--header-font-size-active);
  font-weight: var(--header-font-weight-active);
  padding: var(--link-padding);
  margin: 0 0.25rem;
  border: 2px none #db6c55;
  border-bottom-style: solid;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover {
  color: var(--primary-text-color);
  border: 2px none #f3b58c;
  border-bottom-style: solid;
}


.home {
  display: flex;
  height: inherit;
  flex-direction: column;
  background: var(--secondary-bg-color);

  font-family: var(--secondary-font-family);
  color: var(--secondary-text-color);
  letter-spacing: 1px;
}


.intro {
  background: linear-gradient(90deg, rgba(27,121,17,1) 0%, rgba(44,128,59,1) 29%, rgba(244,246,200,1) 100%);
  /*border: 24px solid transparent;
  border-image: url("static/img/borderImage.png") 30 round;*/
 /* border-radius: 100%/0 0 800px 10px;*/
  display: flex;
  justify-content: center;
  height: inherit;
}


.partners {
  background: var(--secondary-bg-color);
  padding: 120px 0px;
  display: flex;
  justify-content: center;
}

.partner-show {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 200px;
  margin: 0px 32px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #96bb7c;
  padding: 64px;
}

.find-us{
  text-align: center;

}

.contact{
  text-align: center;
}

.tree-map {
  display: flex;
  justify-content: center;
}

/* Router Bread crumbs */
.route-breadcrumps {
  font-weight: 400 !important;
  font-size: 20px;
}

.route-breadcrumps-item {
  color:  #006298;
}

.route-breadcrump-active {
  color: #3f3f3f !important;
}