html, body  {
  margin: 0;
  background: var(--primary-bg-color-gradient);
}

/* To create fixed header*/
.app {
}

.app-view-area {
}

.fixed-img{
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1; /* this is optional and should be different for every project */
}


.header {
  font-family: var(--header-font-family);
  padding: var(--element-padding);
  display: flex;
  height: var(--header-height);
  align-items: center;
  z-index: 2;
}

.header-sticky {
  background: var(--secondary-bg-color);
  position: sticky;
  top: 0;
}

.header h2{
  color: var(--primary-text-color);
  margin-left: 24px;
}

.intro {
  background: linear-gradient(90deg, rgba(27,121,17,1) 0%, rgba(44,128,59,1) 29%, rgba(244,246,200,1) 100%);
  /*border: 24px solid transparent;
  border-image: url("static/img/borderImage.png") 30 round;*/
  border: 32px solid;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(250,224,66)) 1;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
}


.logo{
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--secondary-bg-color);
  position: relative;
}

.logo img{
  width: 140px;
  height: 140px;
  position: absolute;
}

/* Navbar */
.nav-bar-container{
 flex:1
}

.nav-bar {
  justify-content: flex-end;
}

.nav-link {
  color: var(--primary-text-color-inactive);
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  padding: var(--element-padding);
  margin: 0 .20rem;
}

.nav-link-active{
  color: var(--primary-text-color);
  font-size: var(--header-font-size-active);
  font-weight: var(--header-font-weight-active);
  padding: var(--element-padding);
  margin: 0 0.25rem;
  border: 2px none #db6c55;
  border-bottom-style: solid;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a:hover {
  color: var(--primary-text-color);
  border: 2px none #f3b58c;
  border-bottom-style: solid;
}


.tree-map {
  display: flex;
  justify-content: center;
}

/* Router Bread crumbs */
.route-breadcrumps {
  font-weight: 400 !important;
  font-size: 20px;
}

.route-breadcrumps-item {
  color:  #006298;
}

.route-breadcrump-active {
  color: #3f3f3f !important;
}